@{
    ViewBag.Title = "Add Random Person to UsersDB";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page generates a random 8-character Name, reverses it for UserId and calls into a DB Connector class to add this as a new Person Record to the Users DB.</p>